* Text */
h1 {
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px !important;
  padding-top: 0.5rem;
}

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background-color: black !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand {
  padding-left: 200px;
  width: 65px;
  font-family: 'Times New Roman', Times, serif;
}
.nav-item {
  margin-right: 200px 0px;
 font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/* Navigation dropdown menu */
.dropdown-menu {
  
  background-color: black !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: white;
}

/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
}

/* Jumbotron  */
.jumbotron {
    background-image: url(../images/herobackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 13.5rem;
 
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 50%;
  
    
    color: black;
    text-align: left;
    
  }

  h2 {
    font-size: 35px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 2rem;
  }
  h3 {
    font-size: 25px;
    padding-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  h4 {
    font-size: 20px;
    padding-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .btn {
    background-color: #1b1b1b;
    font-size: small;
  }


  .container{
    display: flex;
    
    justify-content: left;
 
   width: 68%;
    gap: 5rem;
    padding-top: 2rem;

  }
  .navycontentCopy {
    background-color: #33414F;
   
    width: 100%;
    height: fit-content;
    background-size: cover;
    z-index: 10;
    padding-bottom: 2rem;
  }
  h5 {
    color: #F0F7FF;
    font-size: 20px;
    padding-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 12.5rem;
  }
  h6 {
    color: #F0F7FF;
    font-family:Arial, Helvetica, sans-serif;
  font-size: 14px !important;
  padding-left: 12.5rem;
  padding-right: 13.5rem;
  padding-top: 1.5rem;
  font-weight: lighter;
  }

  #designprocess {
    background-image: url(../images/naaimage.png);
    
  }

  #background2{
    background-image: url(../images/backgroundtheproblem.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
  }

  .copyleft {
    padding-left: 12.5rem;
    

  }

  .copyright{
    padding-right: 12.5rem;
  }